<?php $delta = time() - $this->time; ?>
span.counttime(data-timestamp!="<?= $this->time ?>", title!="<?= date('Y/m/d H:i:s', $this->time) ?>")
  <?php if ($this->time == 0) { ?>
  never
  <?php } elseif ($delta < 10) { ?>
  <?= sprintf(_i18n('%d 秒前'), $delta) ?>
  <?php } elseif ($delta < 60) { ?>
  <?= sprintf(_i18n('%d 秒前'), 10 * ceil($delta / 10)) ?>
  <?php } elseif ($delta < 60 * 60) { ?>
  <?= sprintf(_i18n('%d 分鐘前'), floor($delta / 60)) ?>
  <?php } elseif ($delta < 60 * 60 * 24) { ?>
  <?= sprintf(_i18n('%d 小時前'), floor($delta / 60 / 60)) ?>
  <?php } elseif ($delta < 60 * 60 * 24 * 365) { ?>
  <?= sprintf(_i18n('%d 天前'), floor($delta / 60 / 60 / 24)) ?>
  <?php } else { ?>
  <?= i18n('超過一年前') ?>
  <?php } ?>
