<?= $this->partial('/common/header.phtml', $this) ?>
.container.report-form#edit
  h1
    i.icon-quote-left
    | 修改回報內容
    i.icon-quote-right
  form.form-horizontal(role="form", method="POST", action!='<?= "/index/edit/{$this->report->id}" ?>')
    .form-group
      label.control-label(for="news_link") 新聞連結
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-link
        input.form-control.input-lg(type="url", name="news_link", placeholder="http://", required, value!="<?= $this->escape($this->report->news_link) ?>")
    .form-group
      label.control-label(for="news_title")
        | 新聞標題
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-list-ul
        input.form-control.input-lg(name="news_title", placeholder="新聞標題", required, value!="<?= $this->escape($this->report->news_title) ?>")
    .form-group
      label.control-label(for="report_title") 問題重點
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-warning-sign
        input.form-control.input-lg(name="report_title", placeholder="問題重點", required, value!="<?= $this->escape($this->report->report_title) ?>")
    .form-group
      label.control-label(for="report_link") 相關真相連結（選填）
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-quote-left
        input.form-control.input-lg(type="url", name="report_link", placeholder="http://", value!="<?= $this->escape($this->report->report_link) ?>")
    .form-group
      input(type="checkbox", name="delete", value="1", checked!="<?= $this->report->deleted_at ? 'checked' : 'false' ?>")
      label.control-label(for="delete_reason") 我要刪除這則回報（請填寫刪除原因）
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-trash
        input.form-control.input-lg(name="delete_reason", placeholder="刪除原因", required, value!="<?= $this->escape($this->report->getDeleteReason()) ?>")
    .form-group.submit-btn
      button.btn.btn-default(type="submit", value="確定回報", style="display: none")
      a.btn.btn-success.btn-lg.btn-block(onclick="submit();")
        i.icon-ok
        | 好了，照這樣改吧！

.container.main#logs
  h1
    i.icon-quote-left
    | 詳細編修記錄
    i.icon-quote-right
  table.table
    thead
      tr.news
        th.timestamp 時間
        th.editor 修改人
        th.old-val 舊值
        th.new-val 新值
    tbody
      <?php foreach (ReportChangeLog::search(1)->order('updated_at DESC') as $change_log) { ?>
      tr.news
        td.timestamp <?= date('c', $change_log->updated_at) ?>
        td.editor <?= $this->escape($change_log->updated_by) ?> IP: <?= long2ip($change_log->updated_from) ?>
        td.old-val <?= $this->partial('index/log_show.phtml', array('value' => $change_log->getOldDiffValues())) ?>
        td.new-val <?= $this->partial('index/log_show.phtml', array('value' => $change_log->getNewDiffValues())) ?>
      <?php } ?>
<?= $this->partial('/common/footer.phtml', $this) ?>
