<?= $this->partial('/common/header.phtml', $this) ?>
.container.show-news#show
  h1
    i.icon-quote-left
    | 關於本則回報 (#<? $this->report->id ?>)
    i.icon-quote-right
  .news-details
    blockquote
      h2 新聞標題
      p <?= $this->escape($this->report->news_title) ?>
    blockquote
      h2 新聞連結
      p
        a(href!="<?= $this->escape($this->report->news_link) ?>") <?= $this->escape($this->report->news_link) ?>
    blockquote
      h2 問題重點
      p <?= $this->escape($this->report->report_title) ?>
    blockquote
      h2 相關真相連結
      p
        a(href!="<?= $this->escape($this->report->report_link) ?>") <?= $this->escape($this->report->report_link) ?>
    blockquote.edit-btn
      p 我覺得這則回報有問題…
        a.show-edit-form-btn 我要協助修正！<br>
        | // 小幫手提醒您，每次修正都會被詳實地記錄下來（包含修正者的 IP 地址）
        | // 若是該新聞已經被刪除或是修正完成，請勿將此回報刪除，可以在理由後面加上（已修正），以避免在社群網站仍有人在轉貼而不知

.container.report-form#edit(style="display: none")
  h1
    i.icon-quote-left
    | 修改回報內容
    i.icon-quote-right
  form.form-horizontal(role="form", method="POST", action!='<?= "/index/edit/{$this->report->id}" ?>')
    input(type="hidden", name="sToken", value!="<?= Helper::getStoken() ?>")
    .form-group
      label.control-label(for="news_link") 新聞連結
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-link
        input.form-control.input-lg(type="url", name="news_link", placeholder="http://", required, value!="<?= $this->escape($this->report->news_link) ?>")
    .form-group
      label.control-label(for="news_title")
        | 新聞標題
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-list-ul
        input.form-control.input-lg(name="news_title", placeholder="新聞標題", required, value!="<?= $this->escape($this->report->news_title) ?>")
    .form-group
      label.control-label(for="report_title") 問題重點
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-warning-sign
        input.form-control.input-lg(name="report_title", placeholder="問題重點", required, value!="<?= $this->escape($this->report->report_title) ?>")
    .form-group
      label.control-label(for="report_link") 相關真相連結
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-quote-left
        input.form-control.input-lg(type="url", name="report_link", placeholder="http://", required, value!="<?= $this->escape($this->report->report_link) ?>")
    .form-group
      <?php if ($this->report->deleted_at) { ?>
      input(type="checkbox", name="delete", value="1", checked)
      <?php } else { ?>
      input(type="checkbox", name="delete", value="1")
      <?php } ?>
      label.control-label(for="deleted_reason") 我要刪除這則回報（請填寫刪除原因）
      .input-group.input-group-lg
        span.input-group-addon
          i.icon-trash
        input.form-control.input-lg(name="deleted_reason", placeholder="刪除原因", value!="<?= $this->escape($this->report->getDeleteReason()) ?>")
    .form-group.submit-btn
      button.btn.btn-success.btn-lg.btn-block(type="submit")
        i.icon-ok
        | 好了，照這樣改吧！

.container.main#forum
  #fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=<?= getenv(FB_APPID) ?>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  h1
    i.icon-quote-left
    | 討論
    i.icon-quote-right
  .fb-comments(data-href!="http://newshelper.g0v.tw/index/log/<?= $this->report->id ?>", data-numposts="5", data-colorscheme="light")

.container.main#logs
  h1
    i.icon-quote-left
    | 詳細編修記錄
    i.icon-quote-right
  table.table
    thead
      tr.news
        th.timestamp 時間
        th.editor 修改人
        th.old-val 舊值
        th.new-val 新值
    tbody
      <?php foreach (ReportChangeLog::search(array('report_id' => $this->report->id))->order('updated_at DESC') as $change_log) { ?>
      tr.news
        td.timestamp <?= date('c', $change_log->updated_at) ?>
        td.editor <?= $this->escape($change_log->updater ? $change_log->updater->getUserName($this->is_login) : '') ?> IP: <?= long2ip($change_log->updated_from) ?>
        td.old-val <?= $this->partial('index/log_show.phtml', array('value' => $change_log->getOldDiffValues())) ?>
        td.new-val <?= $this->partial('index/log_show.phtml', array('value' => $change_log->getNewDiffValues())) ?>
      <?php } ?>

script.
  $(function() {
    /* 使用者點選「我要協助修正」之後會顯示並捲到修改用的 form */
    $(".show-edit-form-btn").click(function() {
      $("#edit").slideDown(1000, function() {
        $("html,body").animate({scrollTop: $("#edit").offset().top});
      });
    });
  });
<?= $this->partial('/common/footer.phtml', $this) ?>
