footer.container
  p.copyright
    i.icon-star
    a(href="http://hack.g0v.tw/project/newshelper") <?= _i18n('新聞小幫手計劃') ?>
    | &nbsp; · <?=_i18n('民國 102 年') ?>&nbsp;
    a(href="http://g0v.tw") <?= _i18n('g0v 台灣零時政府') ?>
    | &nbsp;<?= _i18n('熱血出品 · 開放原始碼授權請參閱各專案內容 · 感謝各界貢獻') ?>

<?php if (getenv('GOOGLEANALYTICS_ACCOUNT')) { ?>
script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', <?= json_encode(getenv('GOOGLEANALYTICS_ACCOUNT')) ?>]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
<?php } ?>

</main></body></html>
