!!! 5
<html lang="zh">
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="author", content="Shao-Chung Chen")
  meta(name="description", content="「新聞小幫手」瀏覽器擴充套件，隨時偵測問題新聞以守護您的網路閱聽品質")
  meta(property="og:image", content="http://newshelper.g0v.tw/images/newshelper-scaled-256x256.png")
  meta(property="og:locale", content="zh_TW")
  meta(property="og:site_name", content="新聞小幫手 Newshelper")
  <?php if ($this->report) { ?>
  meta(property="og:description", content!="<?= $this->escape($this->report->report_title) ?>")
  <?php } else { ?>
  meta(property="og:description", content="「新聞小幫手」瀏覽器擴充套件，隨時偵測問題新聞以守護您的網路閱聽品質")
  <?php } ?>
  title <?= $this->escape($this->title) ?>  - 新聞小幫手
  link(rel="stylesheet", href="/css/app.css")
  link(rel="SHORTCUT ICON", href="/images/icon.png")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="/js/vendor.js")
  script(src="https://apis.google.com/js/plusone.js")

<body>
a(href="https://github.com/g0v/newshelper-extension")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", alt="Fork me on GitHub")
header.navbar.navbar-default(role="banner")
  .container
    .navbar-header
      a.navbar-brand(href="/")
        span.g0v
          img(src="/images/g0v-icon-invert.png")
        span.site-title 新聞小幫手
    nav(role="navigation")
      ul.nav.navbar-nav.pull-right
        li
          a(href="/#features")
            i.icon-zoom-in
            | 功能總覽
        li
          a(href="https://github.com/g0v/newshelper-extension/wiki/%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8%E6%96%B0%E8%81%9E%E5%B0%8F%E5%B9%AB%E6%89%8B", target="_blank")
            i.icon-info-sign
            | 使用說明
        li
          a(href="/#report")
            i.icon-plus
            | 我要回報
        li
          a(href="/#reported")
            i.icon-windows
            | 已回報新聞
        li
          a(href="http://g0v.tw", target="_blank")
            i.icon-link
            | 零時政府
        li.dropbown
          <?php if ($this->user) { ?>
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            i.icon-user
            | <?= $this->escape($this->user->getUserName('name-only')) ?>
            b.caret
          ul.dropdown-menu
            li
              a(href="login/logout") 登出
          <?php } else { ?>
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            i.icon-user
            | 登入
            b.caret
          ul.dropdown-menu
            li
              a(href="login/google") Google 登入
          <?php } ?>

<main role="main">
